language: node_js
node_js:
  - "7"
cache:
  directories:
    - node_modules
script:
  - echo "Deploying"
before_install:
  - npm install -g firebase-tools
after_success:
  - npm run build
  - firebase deploy